.chatContainer {
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: white;
}

.chatWindow {
    /* height: 95vh; */
    align-content: flex-end;
    overflow: scroll;
}

.chatBody {
    width: 100%;
    padding: 0;
    margin: 0
    ;
}

.messageInput {
    background-color: transparent;
    border-radius: 20px;
    width: 95vw;
    padding: 2vw;
    color: white;
    border: 1px solid grey;
}

.messageContainer {
    width: 80%;
}

.sent {
    background-color: #007aff;
    /* margin-left: 75%;/ */
}

.received {
    background-color: grey;
    margin-left: 1%;
}

.sent, .received{
    border-radius: 20px;
    padding: 2vw;
    width: fit-content;

}