.chatContainer {
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
    color: #FFFEFD;
}

.chatWindow {
    /* height: 95vh; */
    /* align-content: flex-end; */
    max-height: 95vh;
    overflow: scroll;
    margin-top: 10vh !important;
    /* padding-bottom: 50px !important; */
}

.chatBody {
    width: 100%;
    padding: 0;
}

.messageInput {
    background-color: rgba(0, 0, 0, 0.973);
    border-radius: 20px;
    width: 95vw;
    padding: 2vw;
    color: white;
    border: 1px solid #8e8e93;
}

.messageContainer {
    width: 80%;
}

.sent {
    background-color: #007aff;
    /* margin-left: 75%;/ */
    /* flex-direction: row-reverse; */
    margin-left: auto;
    border-bottom-right-radius: 10px 0px !important; 
    border-top-left-radius: 10px 0px !important; 

    

}

.received {
    background-color: #69696d;
    margin-left: 1%;
    border-bottom-left-radius: 10px 0px !important; 
    border-top-right-radius: 10px 0px !important; 
}



.sent, .received{ /* https://codepen.io/swards/pen/gxQmbj */
    border-radius: 20px; /* chat bubble style */
    padding: 2vw;
    width: fit-content;
    word-break: break-word;
    min-width: 50px;
}

.sentName{
    display: flex;
    justify-content: end;
    margin-right: 2.5vw;
    opacity: 0.0;
}

.receivedName{
    margin-left: 2.5vw;
    opacity: 0.7;
}

.receivedName, .sentName {
    font-size: 3vw;
    /* opacity: 0.5; */
}

.divRef {
    height: 2vh;
}