.groupChats {
    height: 15vh;
    border-bottom: 1px solid #8e8e93;
    /* transition: width 1s; */
}

.chatDelete {
    height: 7vh;
}

.searchBox {
    background-color: var(--main-grey);
    border-radius: 20px;
    width: 85vw;
    padding: 2vw;
    color: var(--main-cream);
    border: 1px solid #8e8e93;
}