.homeNavRow {
    height: 13vh;
    background-color: var(--main-cream);
}

.editButton {
    color: var(--main-red) !important;
    /* align-items: center; */
}

.createBtn {
    height: 6.8vh;
    padding: 0 !important;
    /* background-image: url('./images/create.png'); */
}

.profileNavBtn {
    height: 5vh;
    padding: 0 !important;
    margin-top: 7px;
}

.homeNavBtn {
    background-color: var(--main-red);
    border-radius: 20px;
    /* border: 1px solid #8e8e93; */
    color: var(--main-cream);
    /* width: 100px; */
    margin: 0px 5px 0px 5px;
    height: 5vh;
    /* opacity: 0.7; */
}

.pageRow{
    background-color: var(--main-red);
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headerLogo {
    height: 12vh;
}

.createChat {
    position: fixed;
    height: 15vh;
    top: 85vh;
    right: -3vh;
}