.homeNavRow {
    height: 10vh;
    background-color: var(--main-grey);
}

.editButton {
    color: var(--main-red) !important;
    /* align-items: center; */
}

.createBtn {
    height: 6.8vh;
    padding: 0 !important;
    /* background-image: url('./images/create.png'); */
}

.profileNavBtn {
    height: 5vh;
    padding: 0 !important;
}

